{% extends "base.html" %}
{% block header %}
  <!-- Page Header-->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<!-- Main Content-->
<div class="container">
     <div class="row">
         <div class="col">
             <b>Name</b>
        </div>
        <div class="col">
            <b>Jan</b>
        </div>
        <div class="col">
            <b>Feb</b>        
         </div>
        <div class="col">
            <b>Mar</b>
        </div>     
     </div>
    {% for row in  entries  %}
    <div class="row">
        <div class="col">
                 {{ row["Student"] }}
        </div>
        <div class="col">
                 {{ row["Jan"] }}
        </div>
        <div class="col">
                 {{ row["Feb"] }}
        </div>
        <div class="col">
                 {{ row["Mar"] }}
        </div>     
    </div><!-- end row -->
    {% endfor %}
</div><!-- end container -->
<hr />
 </div>
{% endblock %}